
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5dacb;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #493628;
    background-color: #f3e0d7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #5e2e0b52 0px 4px 8px 0px;
    position: relative;
    margin: 5%;
}
th, td {
    border: 1px solid #493628;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #493628;
    color: #E4E0E1;
}
tr:hover {
    background-color: #d1bdb5;
}
h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: #493628;
}
h1 {
    padding-top: 20px;
    margin: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border: #493628 3px solid;
    box-shadow: #5e2e0b52 0px 4px 8px 0px;
    border-width: 0 0 3px 0;
    background-color: #f3e0d7;
    text-decoration: underline;
}
h2 {
    margin-top: 10px;
}
h3 {
    margin-top: 10px;
}
h4 {
    margin-top: 10px;
}
