body{
    background-color: rgb(228, 224, 225);
}

.registro{
    margin-top: 65px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    background-color: rgb(214, 192, 179);
}

h1{
    text-align: center;
}

form{
    margin: 3%;
    padding: 5%;
    display: grid;
    gap: 2%;
   
}

.btn{
    background-color: rgb(73, 54, 40);
    color: white;
}


.inicio_sesion{
    margin-left: 30px ;
    margin-top: 65px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    background-color: rgb(214, 192, 179);
}