#form_reserva {
    padding: 2% 5%;
    background-color: #D6C0B3;
    margin: 2%;
    border-radius: 10px;
    height: 300px;
    box-shadow: #5e2e0b52 0px 4px 8px 0px;
    position: relative;
}
.logo {
    position: fixed;  
    top: 0px;  
    right: 10px;   
    width: 120px;    
    height: auto;
    z-index: 1000;   
    border-radius: 0 0 50px 50px;
    background-color: #f3e0d7;
    box-shadow: #5e2e0b52 0px 4px 8px 0px;
}

body {
    background-color: #E4E0E1;
}

header {
    text-align: center;
    background-color: #493628;
    color: #E4E0E1;
    padding: 0.5% 0%;
    text-decoration: underline;
    font-family: 'Trebuchet MS';
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    bottom: 20px;
    width: 100%;
}

#input_enviar, #input_eliminar, #input_estadisticas {
    background-color: #493628;
    color: #E4E0E1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    margin: 3px;
}

#input_enviar:hover, #input_eliminar:hover, #input_estadisticas:hover {
    background-color: #AB886D;
    color: #493628;
}

.div_rut, .div_nombre, .div_apellido, .div_gmail, .div_tipo, .div_zona, .div_fecha {
    width: 100%;
    padding: 5px;
}

.div_rut > input, .div_nombre > input, .div_apellido > input, .div_gmail > input, .div_tipo > select, .div_zona > select, .div_fecha > input {
    border-radius: 10px;
    width: 100%;
}

section {
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 10px;
    font-family: 'Trebuchet MS';
    background-color: #f3e0d7;
    color: #493628;
}

.div_fecha > .d-flex > input {
    margin-right: 10px;
    width: 150px;
    border-radius: 10px;
}



#horario{
    width: 160px;
    border-radius: 10px;
}