form {
    padding: 2% 5%;
    background-color: #493628;
}

body {
    background-color: #493628;
}

header {
    text-align: center;
    background-color: #AB886D;
    color: #493628;
    padding-bottom: 0.5%;
}


